<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Ad Banners</title>
</head>
<body>
<div class="banner <%= type %>">
    <main id="main">
        <div class="carousel" data-slide="0" style="--slide: 0">
            <div class="carousel-slides">
                <div class="carousel-slide carousel-slide-0"
                     style="background-image: url('<%= require(`./assets/${type}-background.jpg`) %>')">
                    <h3>Launching in the UK IN 2022</h3>
                </div>
                <div class="carousel-slide carousel-slide-1"
                     style="background-image: url('<%= require(`./assets/${type}-background.jpg`) %>')">
                    <h3>
                        <span>A</span> <span>NEW</span> <span>ADVANCE</span> <span>IN</span> <span>THE</span> <span>TREATMENT</span>
                        <span>OF</span> <span>DRAVET</span> <span>SYNDROME</span>
                    </h3>
                </div>
                <div class="carousel-slide carousel-slide-2"
                     style="background-image: url('<%= require(`./assets/${type}-background.jpg`) %>')">
                    <h3>Join us for the launch meeting – <br/>in person or online</h3>
                </div>
                <div class="carousel-slide carousel-slide-3"
                     style="background-image: url('<%= require(`./assets/${type}-background.jpg`) %>')">
                    <div class="button">
                        <span>REGISTER <br/>YOUR INTEREST</span>
                        <img src="<%= require('./assets/triangle.svg') %>" alt=""/>
                    </div>
                    <div class="description">
                        <p>Fintepla is indicated for the treatment of seizures associated with Dravet syndrome as an
                            add-on therapy to other antiepileptic medicines for patients 2 years of age and
                            older.<sup>1</sup></p>

                        <ol>
                            <li>Fintepla Summary of Product Characteristics.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <img class="logo" src="<%= require('./assets/logo.svg') %>" alt="ZOGENIX"/>
        <div class="disclaimer">Fintepla is currently<br/>under NICE evaluation</div>
        <% if (['leaderboard', 'mobile'].includes(type)) { %>
            <div class="legal" id="legal">
                <p>
                    <a href="https://fintepla.eu/wp-content/uploads/pdf/Fintepla-fenfluramine-Prescribing-Information.pdf"
                       target="_blank">
                        <strong>Click here for Fintepla prescribing information & Adverse Event reporting</strong>
                    </a>
                </p>
                <p>
                    UK-FIN1-2100083 | December 2021
                </p>
            </div>
        <% } %>
    </main>

    <aside>
        <% if (['mpu', 'double-mpu'].includes(type)) { %>
            <div class="legal" id="legal">
                <p>
                    <strong>Click here for Fintepla prescribing information & Adverse Event reporting</strong>
                </p>
                <p>
                    UK-FIN1-2100083 | December 2021
                </p>
            </div>
        <% } %>
        <img src="<%= require('./assets/fintepla-logo.svg') %>" alt="Fintepla"/>
        <% if (['mobile'].includes(type)) { %>
            <p>
                UK-FIN1-2100083<br/>
                December 2021
            </p>
        <% } %>
    </aside>
</div>
</body>
</html>
